<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>

      <li>
        <a id='home-nav-link' href="/csb-gcp/1-n/index.html"><%= vars.product_full %></a>
      </li>

      <li>
        <a href="/csb-gcp/1-n/release-notes.html">Release Notes</a>
      </li>

      <li>
        <a href="/csb-gcp/1-n/installing.html">Installing and Configuring</a>
      </li>

      <li>
        <a href="/csb-gcp/1-n/using.html">Using</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
