<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>

      <li>
        <a id='home-nav-link' href="/csb-gcp/1-n/index.html"><%= vars.product_full %></a>
      </li>

      <li>
        <a href="/csb-gcp/1-n/release-notes.html">Release Notes</a>
      </li>

      <li>
        <a href="/csb-gcp/1-n/installing.html">Installing and Configuring</a>
      </li>

      <li class="has_submenu">
        <span>Service Plan Reference</span>
        <ul>
          <li>
            <a href="/csb-gcp/1-n/reference/index.html">Overview</a>
          </li>
          <li>
            <a href="/csb-gcp/1-n/reference/gcp-postgresql.html">Google PostgreSQL</a>
          </li>
          <li>
            <a href="/csb-gcp/1-n/reference/gcp-mysql.html">Google MySQL</a>
          </li>
          <li>
            <a href="/csb-gcp/1-n/reference/gcp-storage.html">Google Storage Bucket</a>
          </li>
          <li>
            <a href="/csb-gcp/1-n/reference/gcp-redis.html">Google Redis</a>
          </li>
          <li>
            <a href="/csb-gcp/1-n/reference/gcp-spanner.html">Google Spanner</a>
          </li>
          <li>
            <a href="/csb-gcp/1-n/reference/gcp-dataproc.html">Google Dataproc</a>
          </li>
          <li>
            <a href="/csb-gcp/1-n/reference/gcp-stack-driver-trace.html">Google Stack Driver Trace</a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
